@import '../public/pelakFontFamily.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.ltr{
  direction: ltr;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-4xl sm:mt-5 sm:mb-10 mb-5 text-tavanaGreen text-center;
  }

  h4 {
    @apply text-xl font-semibold text-center;
  }

  h5 {
    @apply font-bold text-lg mt-5;
  }

  label {
    @apply text-gray-400
  }

  html {
    font-family: "PelakFA", system-ui, sans-serif;
  }

  .peer>div {
    left: 5px;
    right: unset !important;
  }

  .peer>span {
    left: unset !important;
    right: 2px;
  }

  .highlight {
    @apply text-tavanaGreen text-xl font-bold;
  }


}

@layer utilities {
  .font-sans {
    font-family: "PelakFA", system-ui, sans-serif;
  }
}

@layer components {
  .input {
    @apply border border-border px-2 p-1 w-full rounded focus:outline-0
  }
  .hover-button {
    @apply border-b hover:border-tavanaGreen border-transparent transition-all w-fit p-1
  }
  .button {
    @apply text-white bg-tavanaGreen text-center rounded py-2 px-5 w-full hover:opacity-80 transition-opacity disabled:opacity-50
  }
  .prevButton {
    @apply text-white bg-tavanBrown text-center rounded py-2 px-5 w-full hover:opacity-80 transition-opacity disabled:opacity-50
  }
}