@import '../public/pelakFontFamily.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


:root {
  color-scheme: light !important;
}


:root{
  --a:-95 50% 50.98% !important;
  --ac:0 0% 100% !important;
  --b1:0 0% 0% 0% !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  :root{
    color-scheme:light !important;
    --b3:180 1.9608% 0% 0% !important;
    --b1:0 0% 0% 0% !important;
    --b2:0 0% 0% 0% !important;
  }
}

.lottie path{
  fill:#8C50A0;
}
/* If the user prefers light mode,
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}


#__next {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.ltr{
  direction: ltr;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.page{
  overflow: hidden;
  margin: 20px 0;
}

.page-footer,.page-header {
  display: none
}

@media (max-width: 720px){
  html,
  body {
    font-size: 0.9rem;
  }
}
@page {
  size: A4;
  margin: 11mm 17mm 17mm 17mm;
}

@media (min-height: 900px) and (min-width: 1280px) {
  .responsive-padding{
    padding:5rem;
  }
}

@media (max-width:520px) {
  .mobileAgreement{
    height: 0 !important;
  }
  .otp > div{
    flex-grow: 1;
  }
}
@media print {
  .mobileAgreement{
    padding: unset !important;
    height: unset !important;
    -webkit-print-color-adjust: exact; /* chrome */
    print-color-adjust: exact; /* firefox and IE */
  }
  .page-header-space,.page-footer-space{
    height: 150px;
  }

  .page{
    display: block;
    page-break-inside: avoid;
    margin: 0;
    direction: rtl;
    text-align: justify;
  }

  .print-sign {
    display: block;
  }

  .no-print {
    display: none;
  }

  .sign-card,.sing-img {
    width: 200px;
    height: 100px;
    background-size: contain;
  }
  .logo-card,.logo-img {
    width: 140px;
    height: 100px;
  }

  body {margin: 0;}
  button {display: none;}
  /*thead {display: table-header-group;}*/
  /*tfoot {display: table-footer-group;}*/

  .page-footer{
    direction: rtl;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 140px;
    overflow: hidden;
  }

  .page-header{
    direction: rtl;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  table {
    table-layout: fixed;
    page-break-inside: avoid;
  }

  .content tr{
    border-bottom: 1px solid rgba(157, 157, 157, 0.14);
  }

  td{
    overflow-wrap: anywhere;
    word-wrap: break-word;
    vertical-align:baseline !important;
  }

  h2 {
    @apply text-4xl sm:mt-5 sm:mb-10 mb-5 font-bold;
  }

  h4 {
    @apply text-xl font-semibold text-center;
  }

  h5 {
    @apply font-bold text-lg mt-5;
  }

  label {
    @apply font-semibold
  }

  html {
    font-family: "PelakFA", system-ui, sans-serif;
  }

  .peer>div {
    left: 5px;
    right: unset !important;
  }

  .peer>span {
    left: unset !important;
    right: 2px;
  }

  .highlight {
    @apply text-tavanaGreen text-xl font-bold;
  }

  .title{
    font-weight: 300;
    font-size: 0.8rem;
  }
  .titleValue{
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.5rem;
    overflow-wrap: break-word;
  }

}

@layer utilities {
  .font-sans {
    font-family: "PelakFA", system-ui, sans-serif;
  }
}

@layer components {

  .mobileAgreement{
    @apply bg-white p-10 rounded
  }
  .checkbox-accent{
    @apply border-tavanaGray;
  }

  .step-active{
    @apply  bg-content border-2 border-tavanaPurple border-b-content translate-y-0.5 flex md:flex-col flex-row
  }
  .step-done{
    @apply text-white hidden md:flex flex-col
  }
  .input {
    @apply border border-border px-2 p-1 w-full rounded focus:outline-0 bg-white h-[54px]
  }
  .steps .step:before {
    @apply bg-gray-300 shadow-md
  }
  .steps .step:after {
    @apply bg-gray-300 shadow-md
  }
  .hover-button {
    @apply border-b hover:border-tavanaGreen border-transparent transition-all w-fit p-1
  }
  .button {
    @apply text-white bg-tavanaGreen text-center py-3 px-5 w-full hover:opacity-80 transition-opacity disabled:opacity-50
  }
  .prevButton {
    @apply text-white bg-tavanaPurple text-center py-2 px-5 w-full hover:opacity-80 transition-opacity disabled:opacity-50
  }
}